/* naranjo = #EC971F;
.btn-default #42DCA3*/
/*Estilos */

* {
  border: none;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #000;
  color: #FFF
}

.cotufa {
  width: 6em;
  height: 6em;
  z-index: 10;
}

.navbar-nav {
  padding-left: 45em;
}

.nav-link {
  margin-right: 1em;
}

.intro-text {
  padding-bottom: 2em;
}
#movies img, #movie img {
  width: 100%;
}

.masterhead {
  position: relative;
  padding: 0;
  height: 40em;
}

.pattern {
  background-image: url('../img/dott.png');
  background-position: center center;
  position: absolute;
  opacity: 0.9;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#text {
  position: absolute;
  left: 0;
  z-index: 20;
}


/* estilos modal*/
  .modal-content {
  padding: 0 1em;
}

.input-group-addon {
  width: 2em;
  font-size: 1.5em;
  background-color: #f8a80f;
}

.form-group {
  padding: 5px;
}

.glyphicon {
  color: #000;
}

.btn-default, .btn-orange {
  border: 1px solid #f8a80f;
  color: #f8a80f;
}

.btn-default:hover {
  background: #f8a80f;
  color: #FFF;
}

#map{
  position: relative;
  overflow: hidden;
  border-radius: 3em;
  height: 35em;
}

.well span{
  font-size: 3em;
  margin: 0.5em;
  float: right;
}

.well a{
  margin: 2em;
  width: 10em;
}

.content-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

ul.banner-social-buttons {
  padding: 15px;
}

.well span{
  font-size: 1.4em;
  float: right;
  color: white;
}


.well a, .well button{
  margin: 1em;
  width: 10em
  margin-top: 2em;
}

.graycolor {
  border-top: 1px solid #EEE;
}

@media(min-width: 960px){
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}
