/*Los estilos de tu proyecto */
/*
  Naranja fondos #fb9200;
  MArron fondos #3F2919;
    azul #6475A8
  */
  * {
    font-family: 'Lato', sans-serif;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

/*Estilos */

#movies img, #movie img {
  width: 100%;
}

@media(min-width: 960px){
  #movies .col-md-3 .well {
  height: 390px;
}

#movies .col-md-3 img {
  height: 240px;
}
}
